.mainHeaderRoot {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
.mainHeader {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 15px;
  label {
    margin-right: 20px;
  }
  &-warning {
    font-weight: bold;
    color: #ff2266;
  }
}

.subTitle {
  font-size: large;
  border-left: 10px solid blue;
  padding-left: 5px;
}

.summaryHeader {
  display: inline-block;
  margin-left: 50px;
  table {
    padding: 10px;
    border: 1px solid #666666;
    th {
      text-align: left;
    }
    td {
      text-align: right;
    }
  }
  &-base {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin-right: 10px;
  }
  &-tax {
    display: inline-block;
    padding: 0;
    margin-right: 10px;
  }
}

.journalBody {
  td,
  th {
    background-color: #cfd1e6;
    padding: 3px;
  }
  &-date {
    width: 100px;
  }
  &-cd {
    width: 150px;
  }
  &-value {
    width: 100px;
  }
  &-note {
    min-width: 100px;
  }
}

.ledgerBody {
  td,
  th {
    background-color: #cfd1e6;
    padding: 3px;
  }
  &-date {
    input {
      width: 100px;
    }
  }
  .value {
    width: 100px;
  }

  &-anotherCd {
    width: 40px;
    .cdSelect {
      position: relative;
      .search {
        width: 100%;
        position: absolute;
        top: -11px;
      }
      .candidate {
        position: absolute;
        width: 100px;
        left: 43px;
        top: -11px;
      }
    }
  }
  &-otherCdName {
    width: 100px;
    input {
      width: 100%;
    }
  }
}

.ledgerListError {
  border: 1px #cccccc solid;
  background-color: pink;
  .ledgerListErrorItem {
    display: inline-block;
    margin-left: 10px;
  }
}

.num {
  text-align: right;
}

.readonly {
  background-color: #cccccc;
}

.error {
  background-color: pink;
}
