.main {
  margin: auto;
  width: 1200px;
}

.mainHeaderRoot {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
.mainHeader {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 15px;
  label {
    margin-right: 20px;
  }
}

.journalList {
  margin-left: 15px;
}

.ledgerList {
  margin-left: 15px;
}

.ledgerSearchOption {
  .warning {
    font-weight: bold;
    color: #ff2266;
  }
}

.subTitle {
  font-size: large;
  border-left: 10px solid blue;
  padding-left: 5px;
}

.summaryHeader {
  display: inline-block;
  margin-left: 50px;
  table {
    padding: 10px;
    border: 1px solid #666666;
    th {
      text-align: left;
    }
    td {
      text-align: right;
    }
  }
  &-base {
    vertical-align: top;
    display: inline-block;
    padding: 0;
    margin-right: 10px;
  }
  &-tax {
    display: inline-block;
    padding: 0;
    margin-right: 10px;
  }
}

.journalBody {
  td,
  th {
    background-color: #cfd1e6;
    padding: 3px;
  }
  &-date {
    width: 100px;
  }
  &-cd {
    width: 150px;
  }
  &-value {
    width: 100px;
  }
  &-note {
    width: 200px;
  }
}

.ledgerBody {
  td,
  th {
    background-color: #cfd1e6;
    padding: 3px;
  }
  &-date {
    &-input {
      width: 85px;
    }
    &-yyyymm {
      width: 60px;
    }
    &-dd {
      width: 25px;
    }
  }
  .value {
    width: 100px;
  }

  &-anotherCd {
    width: 40px;
    .cdSelect {
      position: relative;
      .search {
        width: 100%;
        position: absolute;
        top: -11px;
      }
      .candidate {
        position: absolute;
        width: 100px;
        left: 43px;
        top: -11px;
      }
    }
  }
  &-otherCdName {
    width: 100px;
    input {
      width: 100%;
    }
  }
  &-note {
    input {
      width: 250px;
    }
  }
  &-acc {
    input {
      width: 90px;
    }
  }
}

.ledgerListError {
  border: 1px #cccccc solid;
  background-color: pink;
  .ledgerListErrorItem {
    display: inline-block;
    margin-left: 10px;
  }
}
.pageSummary {
  display: inline-block;
  width: 150px;
}
.pageList {
  display: inline-block;
  margin-left: 20px;
  width: 500px;
  text-align: center;
  .pageNo {
    display: inline-block;
    width: 20px;
  }
  .clickable {
    color: purple;
    text-decoration: underline;
    cursor: pointer;
  }
}

.num {
  text-align: right;
}

.readonly {
  background-color: #cccccc;
}

.error {
  background-color: pink;
}

.pl {
  text-align: center;
  width: 1000px;
  height: 1550px;
  table {
    .row1 {
      width: 380px;
    }
    .row2-1 {
      width: 270px;
    }
    .row2-2 {
      width: 270px;
    }
    thead {
      tr {
        height: 40px;
      }
      th {
        border: 3px solid black;
      }
    }
    tbody {
      tr {
        height: 43px;
      }
      th {
        padding: 0 10px 0 10px;
        text-align-last: justify;
      }
      th,
      td {
        font-weight: normal;
        text-align: right;
        letter-spacing: 3px;
      }
      th {
        border-right: 3px solid black;
      }
      td {
        border-right: 1px solid black;
      }
      .sep {
        border-bottom: 1px solid black;
      }
      .emp {
        letter-spacing: 5px;
        font-weight: bold;
      }
    }
    border: 3px solid black;
    border-collapse: collapse;
  }
}

.tax_detail {
  table {
    margin-left: 20px;
  }
  th {
    text-align: left;
    width: 200px;
  }
  .itemNo {
    display: inline-block;
    background-color: cadetblue;
    color: white;
    padding: 2px 5px 2px 5px;
    margin-right: 5px;
  }
  .fixed {
    text-decoration: underline red 5px;
  }
  .totalTax {
    // width: 300px;
    //border: 3px solid black;
    padding: 30px 30px 30px 10px;
    font-size: 30px;
  }
}

.bs {
  text-align: center;
  width: 1000px;
  height: 1550px;
  margin-left: 25px;
  .part {
    table {
      border-collapse: collapse;
      width: 100%;
      border-style: solid;
      border-color: black;
      border-width: 3px;
      tbody {
        .level1 {
          font-weight: bold;
          padding-left: 10px;
        }
        .level2 {
          font-weight: bold;
          padding-left: 20px;
        }
        .sum {
          border-top: 2px solid black;
          border-bottom: 2px solid black;
          th {
            padding: 0 40px 0 40px;
            font-weight: bold;
          }
        }
        th,
        td {
          padding: 0 10px 0 10px;
        }
        th {
          border-right: 1px solid black;
          text-align-last: justify;
          font-weight: normal;
          padding-left: 30px;
        }
        td {
          text-align: right;
        }
      }
      tr {
        height: 34px;
      }
    }
    .row1 {
      width: 50%;
      border-right: 1px solid black;
      border-bottom: 3px solid black;
    }
    .row2 {
      width: 50%;
      border-bottom: 3px solid black;
    }
    width: 490px;
    vertical-align: top;
    display: inline-block;
  }
  .left {
    table {
      border-right: none;
    }
  }
}
